# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.env
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Windows system/user folders
AppData/
Temp/
Thumbs.db
ehthumbs.db
Desktop.ini

# OneDrive and user profile folders
OneDrive/
Documents/
Downloads/
Music/
Pictures/
Videos/
Saved Games/
Contacts/
Favorites/
Links/
Searches/
"My Documents"/

# Python, Jupyter, and notebook cache
__pycache__/
.ipynb_checkpoints/

# Miscellaneous
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignore all parent directories (safety)
../
